*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    background-image: url(./img/bg\ phot.png);
    background-size: cover;
    margin: 10px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 8%;
    text-transform: capitalize;
}
ul{
    display: flex;
    gap: 50px;
    
}
.logo{
    height: 30px;
    width: 80px;
    
}
ul li a{
    text-decoration: none;
    color: #e4870f;
}
.order{
    font-size: 25px;
    color: #faf7f7;
    background-color: #ff0000;
    padding: 1px 15px ;
    border-radius: 20px;
}
section{ 
    text-align: center;
    position: absolute;
    text-transform: capitalize;
    margin-top: 15%;
    padding-left: 8%;
    font-size: 30px;
    color: #dfe208;
    font-weight: bolder;
    word-spacing: 5px;
    letter-spacing: 2px;
}
button{
    font-weight: bolder;
    text-transform: capitalize;
    padding: 5px 9px;
    position: relative;
    margin: 20px;
    background-color: #ec0808;
    color: aliceblue;
    border: none;
}
.scroll{
    height: 130px;
    margin-left: 86%;
    margin-top: 380px;

}